.row
  .col-md-12
    %h2.text-center= badge.name
.row
  .col-md-12.text-center
    = image_tag badge.main_picture.variant(resize_to_fit: [100,100]), style: 'width: 50%; height: auto;'
.row
  .col-md-12.text-center
    = badge.description
.row
  .col-md-12.text-right
    = link_to 'Edit', edit_badge_path(badge)