
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";


.no_margin {
  margin: 0;
  padding: 0;
}

legend {
  padding: 5px;
  margin-bottom: 10px;
}

fieldset {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.download-link {
  display: block;
  font-size: 15px;
}